* {
  margin: 0;
  padding: 0;
}
html {
  overflow:  hidden;
  /* text-shadow: 4px 1px 2px #534650; */
}

li>img {
  width: 100vw;
  width: 100%;
  height: 100vh;
  /* height: auto; */
  object-fit:cover;
  /* position: cover; */
}
header {
  position: relative;
}
header {
    opacity: 0.95;
}
body {
  font-family: 'Exo 2', sans-serif;
  text-rendering: optimizeLegibility;
  color: #fff;
}
.container {
  margin-top: 7vh;
   max-width: 800px;
  /*width: 100%; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
}
hgroup {
  margin-bottom: 5vh;
}
hgroup h1, hgroup h2, .languages a {
  text-shadow: 4px 1px 2px #534650;
}
h1 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rouge Script', cursive;
  cursor: pointer;
}
h2 {
  font-family: 'Source Serif Pro', serif;
}
h2 {
  font-size: 25px;
  /* margin-bottom: 56px; */
}
a {
  letter-spacing: 1px;
  text-decoration: none;
  color: inherit;
  outline: none;
}
.languages {
  margin-bottom: 8vh;

}
.buttons {
  margin-bottom: 5vh;
}
.button {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  max-width: 130px;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: inherit;
  font-size: 17px;
  /* font-family: 'Montserrat', sans-serif; */
  border: 1px solid #fff;
  position: relative;
  overflow: hidden;
}
.button:first-of-type {
  display: block;
  margin-bottom: 25px;
}
.button:nth-of-type(3n), .button:nth-of-type(4n) {
  margin-left: 15px;
}
.button:last-of-type {
  /* display: block;
  margin-top: 25px; */
}
.button:hover {
  background: #fff;
  color: #000;
  -webkit-transition: background .7s;
  -o-transition: background .7s;
  transition: background .7s;
}
.button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #FBDAB2;
  z-index: 1;
  left: -100%;
  opacity: .5;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.button:hover::before {
  left: 0;
  -webkit-transition: 1.1s;
  -o-transition: 1.1s;
  transition: 1.1s;
}
.button:active:hover {
  background: #B93D5A;
  border-color:  #D79E87;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}
.instagram {
  background-image: url(add_tech_bg/instagram.svg);
}
.gmail{
  background-image: url(add_tech_bg/gmail.svg);
}
.facebook {
  background-image: url(add_tech_bg/facebook.svg);
}
.instagram, .gmail, .facebook {
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin: 0 3px;
  filter: grayscale(80%);
    -moz-filter: grayscale(80%);
    -ms-filter: grayscale(80%);
    -o-filter: grayscale(80%);
    -webkit-filter: gray ;
            filter: gray ;
    zoom:1;
    -webkit-filter: grayscale(80%);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.instagram:hover, .gmail:hover, .facebook:hover {
  filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -webkit-filter: none ;
            filter: none ;
    zoom:1;
    -webkit-filter: grayscale(0%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
